@model ExpenseLayer.TotalLimitEntity

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 class="limit">Add Limit</h2>

@using (Html.BeginForm("Create","TotalLimit",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       @* <h4>TotalLimit</h4>*@
        <hr class="new1" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn" />
            </div>
        </div>
    </div>
}

@*<div class="back">
    @Html.ActionLink("Create", "Expense")
</div>*@
<hr class="new1" />
